* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

table {
  width: 90%;
  height: 75%;
  min-height: 600px;
  margin: auto;
  text-align: left;
  text-transform: capitalize;
  border-spacing: 0px;
  border-collapse: collapse;
  color: #808080;
  table-layout: fixed;
}

button {
  height: 30px;
  color: #666666;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 2px 1px #e4e5e5;
}

button:hover {
  box-shadow: inset 0 0 4px 2px #d4d6d6;
}

.controls_months {
  min-height: 30px;
  font-size: 22px;
  vertical-align: middle;
  color: #000000;
  text-align: center;
}

.controls_months div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.controls_months button {
  text-align: center;
  width: 30px;
  margin: 0 8px;
  font-size: 8px;
}

.today {
  width: 80px;
  font-size: 16px;
  background: #f3f4f4;
}

thead td {
  padding-bottom: 20px;
}

tbody td {
  width: 100%;
  height: 15vh;
  min-height: 50px;
  border: 1px solid #ebecec;
  padding: 20px 15px;
  vertical-align: text-top;
  box-sizing: border-box;
}

td.has_event {
  background: #b8d6ed;
}

.another_month .date {
  color: #acacac;
}

.active_cell {
  border: 2px solid #88bfeb;
  background: #dff1fb;
  padding: 19px 14px;
}

.event_form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 2px;
  filter: drop-shadow(0 0 4px #b3b3b3);
}

.event_form:before {
  align-self: start;
  content: " ";
  position: relative;
  left: -35px;
  top: 20px;
  border: 20px solid transparent;
  border-right: 15px solid #ffffff;
  display: block;
  width: 0;
  height: 0;
}

.event_form p {
  display: flex;
  width: 80%;
  align-self: start;
  align-items: start;
  margin: auto;
}

.event_form input,
.event_form textarea {
  width: 80%;
  box-shadow: inset 0 0 4px 2px #d4d6d6;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.event_form textarea {
  margin-top: 50px;
  max-width: 80%;
  height: 150px;
}

.event_form button {
  width: 70px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.event_form input {
  margin: 3px auto;
  height: 40px;
  transition: box-shadow 2s;
}

.event_form .warning {
  box-shadow: inset 0 0 4px 2px #ff2929;
}

.event_form .close {
  margin: -20px 15px 5px 5px;
  align-self: end;
  cursor: pointer;
}

.event_form_short {
  height: auto;
}

.event_form_short:before {
  align-self: start;
  content: " ";
  position: relative;
  left: 20px;
  top: -35px;
  border: 20px solid transparent;
  border-bottom: 15px solid #ffffff;
  display: block;
  width: 0;
  height: 0;
}
.event_form_short input {
  width: 82%;
  height: 30px;
}
.event_form_short button {
  width: 70px;
  height: 25px;
  align-self: flex-start;
  margin: 13px 30px;
}

.event_info {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.event_info hr {
  color: #acacac;
}

.event_info span {
  word-break: break-all;
}

.event_participants {
  margin-bottom: 5px;
}

.event_description {
  text-transform: none;
}

.event_name {
  font-weight: bold;
  margin-bottom: 10px;
}
